body {
    font-family: 'Pattaya', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
  
header {
    background-color: #f6a4d8;
    padding: 10px;
    text-align: center;
}
  
header h1 {
    font-size: 36px;
}
  
header nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}
  
header nav a:hover {
    text-decoration: underline;
}
  
main {
    padding: 20px;
}
  
.adicionar-kit, .pedidos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.adicionar-kit input {
    padding: 10px;
    margin: 5px;
    width: 250px;
    align-items: center;
}
  
button {
    background-color: #f6a4d8;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer; 
}
  
button:hover {
    background-color: #e589b1;
}
  
.kits-container, .pedidos-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 3 colunas */
    gap: 1px;
}
  
.kit-card, .pedido-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px;
    margin: 2px; 
    box-sizing: border-box;
}
  
.kit-card img, .pedido-card img {
    width: 80%;
    max-height: 90px;
    object-fit: contain;
    margin-bottom: 5px;
}
  
.pedido-info {
    margin: 8px 0;
}
  
.pedido-info input, .pedido-info select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
  
.pedido-info input[type="number"] {
    width: 60%;
    margin: 5px auto;
}
  
.pedido-card button {
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}
  
.pedido-card button:hover {
    background-color: darkred;
}
